{% extends 'base.html.twig' %}
{% block body %}
    <h1>Create a new Post</h1>
    <form>
        <div>
            <label>Description</label>
            <input type="text" placeholder="Post description"/>
        </div>
        <div>
            <label>Category</label>
            <input type="text" placeholder="Category ..."/>
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
{% endblock %}